{% load static %}
<div class="iq-top-navbar">

    <div class="iq-navbar-custom">
       <nav class="navbar navbar-expand-lg navbar-light p-0">
         <div class="iq-search-bar">
           

         
               <p class="h3 mt-4 mb-3">  {{title}} </p> 
        


      
         </div>
          <div class="iq-menu-bt d-flex align-items-center">
             <div class="wrapper-menu">
                <div class="main-circle"><i class="ri-menu-line"></i></div>
                <div class="hover-circle"><i class="ri-close-fill"></i></div>
             </div>



             <div class="iq-navbar-logo d-flex justify-content-between ml-3">
               <a href="{% url "index" %}" class="header-logo">
                <img src={% static "images/Logo.png" %} class="img-fluid rounded" alt="">
               </a>
              
             </div>

             
          </div>
        
          
          <div class="collapse navbar-collapse dropdown ml-auto" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto navbar-list">

               <li class="nav-item nav-icon dropdown">
                   <a class="">
                     
                   </a>
                </li>
             </ul>
          </div>
          <ul class="navbar-list">
          
             <li class="nav-item line-height navbar-nav ml-auto">
                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                  <div class="caption mr-4">
                   
                  </div>
                   
                </a>
                <div class="iq-sub-dropdown iq-user-dropdown"> 
                   <div class="iq-card shadow-none m-0">
                      <div class="iq-card-body p-0 ">
                         <div class="bg-primary p-3">
                            <h5 class="mb-0 text-white line-height"></h5>
                            <span class="text-white font-size-12">Available</span>
                         </div>
                         <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-file-user-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">My Profile</h6>
                                  <p class="mb-0 font-size-12">View personal profile details.</p>
                               </div>
                            </div>
                         </a>
                         <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-profile-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Edit Profile</h6>
                                  <p class="mb-0 font-size-12">Modify your personal details.</p>
                               </div>
                            </div>
                         </a>
                         <a href="account-setting.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-account-box-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Account settings</h6>
                                  <p class="mb-0 font-size-12">Manage your account parameters.</p>
                               </div>
                            </div>
                         </a>
                         <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-hover">
                            <div class="media align-items-center">
                               <div class="rounded iq-card-icon iq-bg-primary">
                                  <i class="ri-lock-line"></i>
                               </div>
                               <div class="media-body ml-3">
                                  <h6 class="mb-0 ">Privacy Settings</h6>
                                  <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                               </div>
                            </div>
                         </a>
                         <div class="d-inline-block w-100 text-center p-3">
                           <!-- Formulário para logout com método POST -->
                          
                       </div>
                      </div>
                   </div>
                </div>
             </li>
          </ul>
       </nav>
    </div>
 </div>