{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>GRAACC</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
   </head>
   <body class="sidebar-main-active right-column-fixed">
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center"></div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         {% include "menu/partials/sidebar.html" %}
         <!-- TOP Nav Bar -->
         {% include "menu/partials/topbar.html" %}
         <!-- TOP Nav Bar END -->
         
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="container-fluid" style="padding-bottom: 100px;">
               <div class="row">
                  <div class="col-lg-12">
                     {% block content %} {% endblock content %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="iq-footer fixed-bottom">
         <div class="container-fluid">
            <div class="row">
               
               <div class="col-lg-12 text-right">
                  <p class="h6 mb-0">Copyright 2024 - GRAACC - by <a href="mailto:rafael.araujo2005@gmail.com">Rafael Araujo</a></p>
     
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'js/waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'js/wow.min.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'js/smooth-scrollbar.js' %}"></script>
      <!-- lottie JavaScript -->
      <script src="{% static 'js/lottie.js' %}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'js/core.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'js/animated.js' %}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'js/kelly.js' %}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'js/maps.js' %}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'js/worldLow.js' %}"></script>
      <!-- Style Customizer -->
      <script src="{% static 'js/style-customizer.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>